<!DOCTYPE html>
<html lang="en">

<!-- head tag -->
<% include head.html %>

<body>
<!-- Domain name to deal with reverse proxies -->
<p id="domainName" style="display: none;">
    <%= domainName %>
</p>
<!-- URI to vocabulary -->
<p id="vocabURI" style="display: none;">
    <%= vocabURI %>
</p>

<!-- Navigation Bar -->
<% include navbar.html %>

<div class="container-contact100">
    <div class="wrap-contact100" style="width: 100%;">
        <h2>Admin Hub</h2>
        <a class="btn btn-info" id="adminParkings" href="#">Manage parkings</a>
        <a class="btn btn-info" id="adminUsers" href="#">Manage users</a>
        <!--<a class="btn btn-info" id="adminCompanies" href="#">Manage companies</a>
        <a class="btn btn-info" id="adminCities" href="#">Manage cities</a>-->
    </div>
</div>

<!-- JS scripts-->
<% include scripts.html %>

</body>

</html>