<!DOCTYPE html>
<html lang="en">

<!-- head tag -->
<% include head.html %>

<body>
<!-- Domain name to deal with reverse proxies -->
<p id="domainName" style="display: none;">
    <%= domainName %>
</p>
<!-- URI to vocabulary -->
<p id="vocabURI" style="display: none;">
    <%= vocabURI %>
</p>

<!-- Navigation Bar -->
<% include navbar.html %>

<div id="transfer-parking-form" class="log-form">
    <h2 transl-id="adminParkings.transfer.title">Transfer parking</h2>
    <input type="image" id="transfer-parking_close_button" src="static/images/icons/close_white.png"
           style="position: relative; float: right; width: 22px; bottom: 49px; margin-bottom: 0; border-bottom: 0; margin-right: 8px;">
    <form>
        <p transl-id="adminParkings.transfer.text">
            Select the company you want to transfer this parking to.
        </p>
        <div>
            <select id="transfer-parking-company" company-names="true" class="js-select2" placeholder="Select Company" transl-id-placeholder="adminParkings.transfer.companyPlaceholder">
                <option value=""></option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <button id="transfer-company-button" type="submit" class="btn" transl-id="adminParkings.transfer.saveButton">Save</button>
    </form>
</div>

<% include admin-parkings-part.html %>

<!-- JS scripts-->
<% include scripts.html %>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2'),
            placeholder: $(this).attr('placeholder')
        });
    });
</script>

</body>

</html>