<!DOCTYPE html>
<html lang="en">

<!-- head tag -->
<% include head.html %>

<body>
    <!-- Domain name to deal with reverse proxies -->
    <p id="domainName" style="display: none;">
        <%= domainName %>
    </p>
    <!-- URI to vocabulary -->
    <p id="vocabURI" style="display: none;">
        <%= vocabURI %>
    </p>

    <!-- Navigation Bar -->
    <% include navbar.html %>

    <div class="container-contact100">
        <ul class="breadcrumbs">
            <li><a href="/" transl-id="home.title">Home</a></li>
            <li><a href="/admin" transl-id="admin.title">Admin Dashboard</a></li>
        </ul>
        <div class="wrap-contact100" style="width: 100%;">
            <h2 transl-id="admin.title">Admin Hub</h2>
            <div style="margin-top: 10px;">
                <a class="btn btn-info" id="adminParkings" href="#" transl-id="admin.manageParkings">Manage parkings</a>
                <a class="btn btn-info" id="adminUsers" href="#" transl-id="admin.manageUsers">Manage users</a>
                <a class="btn btn-info" id="adminCompanies" href="#" transl-id="admin.manageCompanies">Manage companies</a>
                <!--<a class="btn btn-info" id="adminCities" href="#">Manage cities</a>-->
            </div>
        </div>
    </div>

    <!-- JS scripts-->
    <% include scripts.html %>

</body>

</html>