<div  id="parkingsContainer" class="container-contact100">
    <ul class="breadcrumbs">
        <li><a href="home">Home</a></li>
        <li><a href="cityrep" transl-id="cityRep.title">Region Hub</a></li>
        <li><a href="cityrep-parkings?cityname=<%= cityName %>"><span transl-id="cityRepParkings.title">Parkings in</span> <%= cityName %></a></li>
    </ul>
    <div class="wrap-contact100 table-parkings-scroll-helper" style="width: 100%;">
        <h2><span transl-id="cityRepParkings.title">Parkings in</span> <%= cityName %></h2>
        <table id="parking-list" class="table-fill">
            <thead>
            <tr>
                <th class="text-left">
                    <span transl-id="adminParkings.th[0]">Parking Facility URI</span>
                    <input id="filterById" value="<%= filter %>" class="searchbar" type="text" placeholder="Search for URI...">
                </th>
                <th class="text-left" transl-id="cityRepParkings.th[1]">Parking Name</th>
                <th class="text-left" transl-id="cityRepParkings.th[2]">Municipality</th>
                <th class="text-left" transl-id="cityRepParkings.th[3]">Approved</th>
                <th class="text-left" transl-id="cityRepParkings.th[4]">Actions</th>
            </tr>
            </thead>
            <tbody class="table-hover">
            <% for (var i = 0; i < parkings.length; i++) { %>
            <tr>
                <td class="text-left">
                    <a target="_blank" style="font-size: 20px; font-family: Montserrat-SemiBold;" href="<%= parkings[i]['@id'] %>">
                        <%= parkings[i]['@id'] %></a>
                </td>
                <td class="text-left" style="font-size: 20px;">
                    <%= parkings[i]['name'][0]['@value'] %>
                </td>
                <td>
                    <div class="parking-region-dummy" data-long="<%= parkings[i]['location']['lon'] %>" data-lat="<%= parkings[i]['location']['lat'] %>">
                        <svg class="loading-icon lds-dual-ring" width="15px"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <circle cx="50" cy="50" ng-attr-r="{{config.radius}}" ng-attr-stroke-width="{{config.width}}"
                                    ng-attr-stroke="{{config.stroke}}" ng-attr-stroke-dasharray="{{config.dasharray}}"
                                    fill="none" stroke-linecap="round" r="40" stroke-width="20" stroke="#1c4595"
                                    stroke-dasharray="62.83185307179586 62.83185307179586"
                                    transform="rotate(244.478 50 50)">
                                <animateTransform attributeName="transform" type="rotate" calcMode="linear"
                                                  values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s"
                                                  repeatCount="indefinite"></animateTransform>
                            </circle>
                        </svg>
                    </div>
                </td>
                <td class="text-left" style="font-size: 20px;">
                    <svg class="loading-icon" width="15px" style="display:none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-dual-ring"><circle cx="50" cy="50" ng-attr-r="{{config.radius}}" ng-attr-stroke-width="{{config.width}}" ng-attr-stroke="{{config.stroke}}" ng-attr-stroke-dasharray="{{config.dasharray}}" fill="none" stroke-linecap="round" r="40" stroke-width="20" stroke="#1c4595" stroke-dasharray="62.83185307179586 62.83185307179586" transform="rotate(244.478 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>
                    <input class="checkbox-parkingEnabled" type="checkbox" <%= parkings[i]['approvedstatus'] ? 'checked' : '' %> parkingid="<%= parkings[i]['@id'] %>" >
                </td>
                <td class="text-left">
                    <input title="Edit" type="image" src="static/images/icons/edit.png" style="float: left; width: 40px;">
                    <!--<input title="Delete" type="image" src="static/images/icons/delete.png" style="position: relative; left: 10px; bottom: 2px; float: left; width: 40px;">-->
                    <input title="Download" type="image" src="static/images/icons/download.png" style="position: relative; left: 16px; bottom: 2px; float: left; width: 40px;">
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <div class="paginationContainer">
            <span>Parking <%= rangeStart %> - <%= rangeEnd %></span>
            <button class="pageButton btn btn-primary" rangeStart="0" rangeEnd="0" transl-id="general.buttons.first">First</button>
            <% if(rangeStart > 0){ %>
            <button class="pageButton btn btn-primary" rangeStart="<%= rangeStart-(rangeEnd-rangeStart) %>" rangeEnd="<%= rangeStart %>" transl-id="general.buttons.previous">Previous</button>
            <% } %>
            <% if(parkings.length >= rangeEnd-rangeStart){ %>
            <button class="pageButton btn btn-primary" rangeStart="<%= rangeEnd %>" rangeEnd="<%= rangeEnd+(rangeEnd-rangeStart) %>" transl-id="general.buttons.next">Next</button>
            <% } %>
        </div>
    </div>
</div>