<!DOCTYPE html>
<html lang="en">

<!-- head tag -->
<% include head.html %>

<body>
	<!-- Domain name to deal with reverse proxies -->
	<p id="domainName" style="display: none;"><%= domainName %></p>
	<!-- URI to vocabulary -->
	<p id="vocabURI" style="display: none;"><%= vocabURI %></p>

	<!-- Loaded data for editing -->
	<p id="loadedParking" style="display: none;"><%= loadedParking %></p>

	<!-- Resulting JSON-LD -->
	<% include json-ld.html %>

	<!-- Navigation Bar -->
	<% include navbar.html %>



	<!-- Data Input Form-->
	<% include data-form.html %>

	<!-- JS scripts-->
	<% include scripts.html %>
</body>

</html>