<!DOCTYPE html>
<html lang="en">

<head>
	<title>Velopark Rich Snippets Generator</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/noui/nouislider.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/default.css">
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="static/css/login.css">
	<!--===============================================================================================-->
</head>

<body>
	<!-- Domain name to deal with reverse proxies -->
	<p id="domainName" style="display: none;"><%= domainName %></p>
	<!-- Login/Sign up form -->
	<div id="login-form" class="log-form" style="display: none">
		<h2>Login to your account</h2>
		<input type="image" id="login_close_button" src="static/images/icons/close_white.png" style="position: relative; float: right; width: 22px; bottom: 49px; margin-bottom: 0; border-bottom: 0; margin-right: 8px;">
		<form>
			<input id="login-email" type="email" title="username" placeholder="username" />
			<input id="login-pass" type="password" title="username" placeholder="password" />
			<button id="login-button" type="submit" class="btn">Login</button>
		</form>
	</div>
	<div id="signin-form" class="log-form">
		<h2>Create a new account</h2>
		<input type="image" id="signin_close_button" src="static/images/icons/close_white.png" style="position: relative; float: right; width: 22px; bottom: 49px; margin-bottom: 0; border-bottom: 0; margin-right: 8px;">
		<form>
			<input id="signin-email" type="email" title="email" placeholder="email" />
			<input id="signin-pass" type="password" title="username" placeholder="password" />
			<button id="signin-button" type="submit" class="btn">Sign Up</button>
		</form>
	</div>

	<!-- Resulting JSON-LD -->
	<% include json-ld.html %>

	<!-- Navigation Bar -->
	<div id="navbar" class="sticky">
		<a id="signin">Sign In</a>
		<a id="login">Log In</a>
		<span id="main-title" class="contact100-form-title" style="color: white; position: relative; width: 53%; top: 21px; left: 24%; cursor: pointer;">
			Velopark Rich Snippets Generator
		</span>
	</div>

	<!-- Data Input Form-->
	<% include data-form.html %>


	<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="static/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="static/vendor/highlight/js/highlight.pack.js"></script>
	<!--===============================================================================================-->
	<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
	<!--===============================================================================================-->
	<script src="static/js/main.js"></script>
	<script src="static/js/validator.js"></script>
	<script src="static/js/loginController.js"></script>
	<script src="static/js/router.js"></script>
	<script src="static/js/navbar.js"></script>
	<script src="static/js/location.js"></script>
	<script src="static/js/ld-mapper.js"></script>

</body>

</html>