<div class="overlay"></div>
<div class="jsonld">
    <div style="position: fixed; width: inherit; height: 67px; background-color: white;">
        <span class="contact100-form-section" style="width: 90%; float: left; position: relative; top: 20px; left: 10px;">
            Resulting Linked Data in JSON-LD
        </span>
        <input title="close" type="image" id="close_button" src="static/images/icons/close_black.png" 
            style="position: relative; top: 20px; right: 12px; float: right; width: 25px;">
        <input title="Save JSON-LD script" type="image" id="save_button" src="static/images/icons/save.png" 
            style="position: relative; top: 20px; right: 18px; float: right; width: 25px;">
    </div>
    <pre style="float: left; margin-top: 43px;">
			<code id="ld-script" class="JSON"></code>
	</pre>
</div>