<!-- Navigation Bar -->
<div id="navbar" class="sticky">
    <div id="page-logo-helper">
        <img src="static/images/icons/velopark.png">
    </div>
    <a id="signin">Sign In</a>
    <a id="login">Log In</a>
    <a id="logout">Log out</a>
    <a id="user-email"><%= username %></a>
    <span id="main-title" class="contact100-form-title" style="color: white; position: relative; width: 53%; top: 21px; left: 20%; cursor: pointer;">
			Velopark Rich Snippets Generator
		</span>
</div>

<div id="drop-menu" class="dropdown-content">
    <a id="myParkings" href="#">My Parking Facilities</a>
    <a id="myAdminOverview" href="#">Admin Page</a>
</div>

<!-- Login/Sign up form -->
<div id="login-form" class="log-form" style="display: none">
    <h2>Login to your account</h2>
    <input type="image" id="login_close_button" src="static/images/icons/close_white.png" style="position: relative; float: right; width: 22px; bottom: 49px; margin-bottom: 0; border-bottom: 0; margin-right: 8px;">
    <form>
        <input id="login-email" type="email" title="email" placeholder="email" />
        <input id="login-pass" type="password" title="username" placeholder="password" />
        <button id="login-button" type="submit" class="btn">Login</button>
    </form>
</div>
<div id="signin-form" class="log-form">
    <h2>Create a new account</h2>
    <input type="image" id="signin_close_button" src="static/images/icons/close_white.png" style="position: relative; float: right; width: 22px; bottom: 49px; margin-bottom: 0; border-bottom: 0; margin-right: 8px;">
    <form>
        <input id="signin-email" type="email" title="email" placeholder="email" />
        <input id="signin-pass" type="password" title="username" placeholder="password" />
        <button id="signin-button" type="submit" class="btn">Sign Up</button>
    </form>
</div>