<!-- Navigation Bar -->
<div id="navbar" class="sticky">
    <div id="page-logo-helper">
        <img src="static/images/icons/velopark.png">
    </div>
    <a id="language-selector" transl-id="navbar.langSelect" style="display: block;">Language</a>
    <a id="signin" transl-id="navbar.signup" >Sign Up</a>
    <a id="login" transl-id="navbar.login" >Log In</a>
    <a id="logout" transl-id="navbar.logout" >Log out</a>
    <a id="user-email">
        <%= username %></a>
    <span id="main-title" class="contact100-form-title" transl-id="navbar.title" style="color: white; position: relative; width: 53%; top: 21px; left: 20%; cursor: pointer;">
        Velopark Rich Snippets Generator
    </span>
</div>

<div id="drop-menu" class="dropdown-content">
    <a id="addParkings" href="#">Add Parkings</a>
    <a id="myParkings" href="#"><%= company.name %> Parkings</a>
    <a id="myAdminOverview" href="#">Manage Entities</a>
    <a id="myCityOverview" href="#">Mange Regions</a>
</div>

<div id="drop-menu-lang" class="dropdown-content" style="z-index: 50; min-width: 60px;">
    <a id="lang-nl" href="#" class="lang-selector" lang-select="nl">nl</a>
    <a id="lang-en" href="#" class="lang-selector" lang-select="en">en</a>
    <a id="lang-fr" href="#" class="lang-selector" lang-select="fr">fr</a>
    <a id="lang-de" href="#" class="lang-selector" lang-select="de">de</a>
    <a id="lang-es" href="#" class="lang-selector" lang-select="es">es</a>
</div>

<!-- Login/Sign up form -->
<div id="login-form" class="log-form" style="display: none">
    <h2>Login to your account</h2>
    <input type="image" id="login_close_button" src="static/images/icons/close_white.png" style="position: relative; float: right; width: 22px; bottom: 49px; margin-bottom: 0; border-bottom: 0; margin-right: 8px;">
    <form>
        <input id="login-email" type="email" title="email" placeholder="email" />
        <input id="login-pass" type="password" title="username" placeholder="password" />
        <a id="lost-password-button" type="" href="#">Wachtwoord vergeten?</a>
        <button id="login-button" type="submit" class="btn">Login</button>
    </form>
</div>

<div id="password-reset-form" class="log-form" style="display: none">
    <h2>Wachtwoord vergeten</h2>
    <input type="image" id="password-reset_close_button" src="/static/images/icons/close_white.png" style="position: relative; float: right; width: 22px; bottom: 49px; margin-bottom: 0; border-bottom: 0; margin-right: 8px;">
    <form style="text-align: center;">
        <input id="password-reset-email" type="email" title="email" placeholder="Email" autocomplete="email"/>
        <button id="lost-password-submit-button" type="submit" class="btn">Verzenden</button>
        <svg class="loading-icon lds-dual-ring" width="30px" style="display: none;"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" ng-attr-r="{{config.radius}}" ng-attr-stroke-width="{{config.width}}"
                    ng-attr-stroke="{{config.stroke}}" ng-attr-stroke-dasharray="{{config.dasharray}}"
                    fill="none" stroke-linecap="round" r="40" stroke-width="20" stroke="#1c4595"
                    stroke-dasharray="62.83185307179586 62.83185307179586"
                    transform="rotate(244.478 50 50)">
                <animateTransform attributeName="transform" type="rotate" calcMode="linear"
                                  values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s"
                                  repeatCount="indefinite"></animateTransform>
            </circle>
        </svg>
    </form>
    <div id="password-reset-mail-sent-message" style="display: none; margin: 30px;">
        Er is een email verzonden naar het email-adres dat je hebt opgegeven. Je zal daar een link vinden waarmee je een nieuw wachtwoord kan aanmaken.<br>
        An email has been dispatched to you. We sent you a link which you can use to enter a new password for your account.
    </div>
</div>

<div id="signin-form" class="log-form">
    <h2>Create a new account</h2>
    <input type="image" id="signin_close_button" src="static/images/icons/close_white.png" style="position: relative; float: right; width: 22px; bottom: 49px; margin-bottom: 0; border-bottom: 0; margin-right: 8px;">
    <!-- Tab links -->
    <div class="tab">
        <button id="cm-signin">Company Member</button>
        <button id="cr-signin">City Representative</button>
    </div>
    <form style="position: relative; bottom: 40px;">
        <input id="signin-email" type="email" title="email" placeholder="email" />
        <input id="signin-pass" type="password" title="username" placeholder="password" />
        
        <div id="signup-company" style="display: none;">
            <div>
                <select id="signin-company" company-names="true" class="js-select2" placeholder="Select Company">
                    <option value=""></option>
                </select>
                <div class="dropDownSelect2"></div>
            </div>
        </div>
        <div id="signup-cities" style="display: none;">
            <div>
                <select city-names="true" class="signin-city js-select2" placeholder="Select Region">
                    <option value=""></option>
                </select>
                <div class="dropDownSelect2"></div>
                <button type="button" class="minus_button minus_button_input"><i class="fas fa-trash-alt"></i></button>
            </div>
            <button class="plus_button_city_select"><i class="fas fa-plus-square"></i>Add extra region</button>
        </div>
        <button style="position: relative; top: 60px;" id="signin-button" type="submit" class="btn">Sign Up</button>
    </form>
</div>