<!DOCTYPE html>
<html lang="en">

<!-- head tag -->
<% include head.html %>

<body>
    <!-- Domain name to deal with reverse proxies -->
    <p id="domainName" style="display: none;">
        <%= domainName %>
    </p>
    <!-- URI to vocabulary -->
    <p id="vocabURI" style="display: none;">
        <%= vocabURI %>
    </p>

    <!-- Navigation Bar -->
    <div id="navbar" class="sticky">
        <div style="position:relative; top: 23px; float: left;">
            <img style="width: 140px;" src="static/images/icons/velopark.png">
        </div>
        <a id="logout">Log out</a>
        <a id="user-email">
            <%= username %></a>
        <span id="main-title" class="contact100-form-title" style="color: white; position: relative; width: 53%; top: 21px; left: 20%; cursor: pointer;">
            Velopark Rich Snippets Generator
        </span>
    </div>

    <div id="drop-menu" class="dropdown-content">
        <a id="myParkings" href="#">My Parking Facilities</a>
    </div>

    <div class="container-contact100">
        <div class="wrap-contact100" style="width: 100%;">
            <table id="parking-list" class="table-fill">
                <thead>
                    <tr>
                        <th class="text-left">Parking Facility URI</th>
                        <th class="text-left">Parking Name</th>
                        <th class="text-left">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    <% for (var i = 0; i < parkings.length; i++) { %>
                    <tr>
                        <td class="text-left">
                            <a target="_blank" style="font-size: 20px; font-family: Montserrat-SemiBold;" href="<%= parkings[i]['@id'] %>">
                                <%= parkings[i]['@id'] %></a>
                        </td>
                        <td class="text-left" style="font-size: 20px;">
                            <%= parkings[i]['name'] %>
                        </td>
                        <td class="text-left">
                            <input title="Edit" type="image" src="static/images/icons/edit.png" style="float: left; width: 40px;">
                            <input title="Delete" type="image" src="static/images/icons/delete.png" style="position: relative; left: 10px; bottom: 2px; float: left; width: 40px;">
                            <input title="Download" type="image" src="static/images/icons/download.png" style="position: relative; left: 16px; bottom: 2px; float: left; width: 40px;">
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <!-- JS scripts-->
    <% include scripts.html %>

</body>

</html>