<!--===============================================================================================-->
<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="static/vendor/jquery-steps/jquery.steps.min.js"></script>
<!--===============================================================================================-->
<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="static/vendor/bootstrap/js/popper.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="static/vendor/select2/select2.min.js"></script>
<!-- has to be called after wizardifying. moved to main.js. -->
<!--<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    });
</script>-->
<!--===============================================================================================-->
<script src="static/vendor/daterangepicker/moment.min.js"></script>
<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="static/vendor/highlight/js/highlight.pack.js"></script>
<!--===============================================================================================-->
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<!--===============================================================================================-->
<script src="static/vendor/momentjs/js/moment.js"></script>
<!--===============================================================================================-->
<script src="static/js/wizardify.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/validator.js"></script>
<script src="static/js/loginController.js"></script>
<script src="static/js/location.js"></script>
<script src="static/js/parkingController.js"></script>
<script src="static/js/router.js"></script>
<script src="static/js/navbar.js"></script>
<script src="static/js/ld-mapper.js"></script>