/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #374864;
    z-index: 9999;
  }
  
  /* Navbar links */
  #navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    font-family: Montserrat-SemiBold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    position: relative;
    top: 15px;
    border-radius: 10px;
  }

  #navbar a:hover {
    background-color: rgb(43, 145, 86);
    color: white;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    right: 30px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}